.anakutu{height:100%; width: 100%; background-color: dimgray;float: left;}
.soltaraf{float: left; background-color: sandybrown; height: 100%; width: 300px;}
.kutu{float: left;height:auto; width:auto;background-color:aqua;}
